@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Koulen&family=Luckiest+Guy&display=swap');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bowlby One SC','Koulen','Luckiest Guy', cursive;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;
  /*background-image: url('../img/flat-lay-back-school-still-life-assortment.jpg');
  background-size: cover;*/
  margin: 0;
}

/* TextAlive App API basic example CSS */

#overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0009;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 100;
  }
  
  #overlay .play {
    padding: 7em;
  }
  
  #container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #lyrics {
    font-size: 6em;
  }
  
  #media {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 4px;
    background: rgba(0,0,0,0.2);
  }
  
  #header {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
  }

  #position {
    display: none;
  }
  
  #meta {
    margin: 10px;
    padding: 5px;
    background: rgba(0,0,0,0.2);
  }
  
#tabletContainer {
  width: 1262px;
  height: 892px;
  position: relative;
  transform-origin: top left;
}

#tabletSuperContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#tabletFront {
  height: 892px;
  position: absolute;
  pointer-events: none;
}

#tabletMask {
  width: 1080px;
  height: 780px;
  position: absolute;
  left: 48px;
  top: 56px;
}

#tabletBack {
  width: 1080px;
  height: 780px;
  position: absolute;
  left: 48px;
  top: 56px;
}

svg {
    font-size: 64px;
    font-family: "Arial";
    font-weight: 900;
    text-transform: uppercase;
    transition: all 0.5s linear;
    position: absolute;
    inset: 0;
    height: 100%;
}

svg rect {
    mask: url(#myText);
}

#beat {
  background-color: aqua;
}

#actionButtons {
  position: absolute;
  top: 200;
  right: 20;
  width: 100px;
}

#actionButtons button {
  font-size: 28px;
}